<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <appSettings>
    <add key="BaseUrl" value="http://www.teletext.ch/pics/SF1/{0}-{1}.gif" />
  </appSettings>
  <system.serviceModel>
    <diagnostics performanceCounters="Default">
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
    </diagnostics>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_IService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="10000000">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBinding_IService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="10000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="behaviorService" name="CrossText.Service.Service">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IService" contract="CrossText.Service.ICrossTextService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorService">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>