<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="behaviorService" name="CrossText.Service.Service" xdt:Transform="Replace" xdt:Locator="XPath(configuration/system.serviceModel/services/service[1])">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IService" contract="CrossText.Service.ICrossTextService" />
      </service>
    </services>
  </system.serviceModel>
  
</configuration>