<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TeletextBaseUrl" value="http://www.teletext.ch/pics/SF1/{0}-{1}.gif" />
    <add key="ImageMimeType" value="image/gif" />
    <add key="TeletextStructureDefinition" value="TeletextStructure.xml"/>
    <add key="TeletextStructureSchema" value="TeletextStructure.xsd"/>
    <add key="TeletextStructureSchemaNamespace" value="http://tempuri.org/TeletextStructure.xsd"/>
    </appSettings>
</configuration>